.blogSection {
    padding: 112px 40px 64px;
    max-width: 1320px;
    margin: 0 auto;
  }
  
  .blogHeader {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 80px;
    align-items: center;
    text-align: center;
  }
  
  .blogTitle {
    font-family: "JetBrains Mono", ui-monospace, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 40px;
    letter-spacing: 0em;
    text-transform: uppercase;
    line-height: 1.2em;
    padding-top: 50px;
  }
  
  .blogSubtitle {
    max-width: 800px;
    font-family: "Poppins", "Poppins Placeholder", sans-serif;
    color: #e4e4e7;
    font-size: 16px;
    text-align: center;
  }
  
  .statusText {
    color: #e5e7eb;
    font-size: 14px;
  }
  
  .errorText {
    margin-top: 16px;
    color: #fca5a5;
    font-size: 14px;
  }
  
  .mediumGrid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 60px;
  }
  
  .mediumCard {
    border-radius: 18px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .mediumImage {
    width: 100%;
    height: 190px;
    object-fit: cover;
    display: block;
  }
  
  .mediumCardBody {
    padding: 16px 16px 18px;
    display: flex;
    flex-direction: column;
  }
  
  .mediumCardDate {
    font-family: "JetBrains Mono", "JetBrains Mono Placeholder", sans-serif;
    font-size: 16px;
    letter-spacing: 0em;
    text-transform: uppercase;
    color: #e4e4e7;
  }
  
  .mediumCardTitle {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 400;
    color: #e4e4e7;
  }
  
  .mediumCardAuthor {
    font-size: 16px;
    color: #e4e4e7;
    text-transform: uppercase;
    font-family: "JetBrains Mono", ui-monospace, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
  
  .mediumCardExcerpt {
    font-size: 14px;
    font-weight: 400;
    color: #e4e4e7;
    letter-spacing: 0em;
    line-height: 1.8em;
    font-family: "Poppins", "Poppins Placeholder", sans-serif;
  }
  
  .mediumCardLink {
    margin-top: auto;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 1.8em;
    font-family: "Poppins", "Poppins Placeholder", sans-serif;
    text-decoration: none;
    color: #e4e4e7;
    cursor: pointer;
  }
  
  @media (max-width: 1024px) {
    .blogSection {
      padding: 96px 20px 48px;
    }
  
    .mediumGrid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  
  @media (max-width: 640px) {
    .blogSection {
      padding: 80px 20px 40px;
    }

    .blogTitle {
      font-size: 28px;
      padding-top: 0px;
    }

    .blogHeader {
      margin-bottom: 100px;
    }

    .mediumCardBody {
      padding: 0px;
    }

    .mediumCardDate {
      font-size: 14px;
    }

    .mediumCardTitle {
      font-size: 20px;
    }

    .mediumCardAuthor {
      font-size: 14px;
    }
  
    .mediumGrid {
      grid-template-columns: 1fr;
    }
  }
  

  